<header>
    <a href="#"><h1>VisualTimeline</h1></a>
    <nav>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/timeline/connect">Get your own</a></li>
        </ul>
    </nav>
</header>