<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VisualTimeLine</title>
        <meta charset="utf-8">
        <meta name="description" content="Tiny visualization of twitter timelines">
        <link rel="Shortcut Icon" type="image/ico" href="img/favicon.png">
        <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/queries/netbooks-tablets.css" type="text/css" media="screen and (max-width: 1007px)" />
	<link href='http://fonts.googleapis.com/css?family=Carter+One&v2' rel='stylesheet' type='text/css'>
            
        <script type="text/javascript" src="js/html5.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>     
            
        <!--[if IE 7]><link rel="stylesheet" href="css/ie/ie7.css" type="text/css" media="screen"><![endif]-->
        <!--[if lt IE 7]><link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen"><![endif]-->
    </head>
    <body id="index">
        <%= partial(:mainmenu) %>
        <div id="wrap">
            <article>
                <section>
                    <div class="inside">
                        <p>As the name indicates this thing website just is some basic visual represention of your Twitter timeline. It all
                        started as an attempt to do some "fun project" with <a href="http://www.processingjs.org">processing.js</a>.</p>
                        <p>VisualTimeline does basically the following thing:</p>
                        <ul>
                            <li>Grab the 400 last tweets from your timeline.</li>
                            <li>Represents all people that appeared in your last 400 tweets as circles. The bigger the circle the more tweets from
                            this person can be found your TL.</li>
                            <li>If a person in your TL retweets someone else that appears in your TL, then a layer of the first person's circle
                            is coloured in the colour of the person being retweeted. If the retweeted person does not appear in your TL, the
                            grey is used as colour. Phewwww, that was complicated, wasn't it?</li>
                            <li>Mentions within your TL are represented as lines.</li>
                    </div>
                </section>  
            </article>
            <aside>
                <div class="inside">
                </div>
            </aside>
        </div>
        <footer>
            <div class="inside">
            </div>
        </footer>        
        <script type="text/javascript" src="js/custom.js"></script>
    </body>
</html>
